.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
  font-family: 'Outfit';
  src:  url('Outfit-VariableFont_wght.ttf') format('truetype');
}

html{
	background: hsl(212, 45%, 89%);

	font-family: Outfit, sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

main{
	align-self: center;
	padding: 2rem;
	border-radius: 24px;
  max-width: 20rem;
  height: auto;

	background: #fff;
	box-shadow: #cfcfcf 0 6px 8px;
	text-align: center;
	color: hsl(220, 15%, 55%);
  margin: 2rem;
}

h1{
	color: hsl(218, 44%, 22%);
}

main p{
	font-size: 1.3rem;
}

.qrcode img{
	width: 100%;

	border-radius: 12px;
}
